@use "variables" as v;

$base-font-size: 1.25em;
$base-font-size-small: 1.125em;
$font-ratio: 1.2;

@font-face {
  font-family: "Comfortaa";
  src: url("/assets/fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
  font-family: "EBGaramond";
  src: url("/assets/fonts/EBGaramond-VariableFont_wght.ttf"),
    url("assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf"),
    url("assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  font-family: "EBGaramond", serif;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: pow($font-ratio, (6 - $i)) * $base-font-size;
  }
}
p {
  font-size: $base-font-size;
}

@media only screen and (max-width: v.$device-break-point) {
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: pow($font-ratio, (6 - $i)) * $base-font-size-small;
    }
  }
  p {
    font-size: $base-font-size-small;
  }
}
