@font-face {
  font-family: "Comfortaa";
  src: url("/assets/fonts/Comfortaa-VariableFont_wght.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: bold;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: pow(1.3, (6 - $i)) * 1rem;
  }
}
