@use "variables" as v;

$nav-height: 52px;
$device-break-point: 768px;

nav {
  user-select: none;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: $nav-height;

  .title {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
  }

  .nav-menu {
    display: flex;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.125em;
    gap: 20px;
  }

  .nav-checkbox {
    display: none;
    visibility: hidden;
  }

  .nav-toggle {
    cursor: pointer;
    display: none;
  }

  @media only screen and (max-width: v.$device-break-point) {
    .nav-toggle {
      display: block;
    }

    .nav-menu {
      margin-top: $nav-height;
      top: 0;
      left: 0;
      width: 100%;

      background-color: #000000;
      position: absolute;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 0;
    }

    .nav-checkbox:checked ~ .nav-menu {
      height: calc(100% - $nav-height);
    }
  }
}
